{*margin: 0;padding: 0}

body{
	background-color: #FAFAFA
}

.user-data{
    width: 80%;
    margin: 90px auto 30px auto;
    background: #fff;
}


.view-table td, .view-table th {
    border-bottom: 0;
    padding: 5px 10px;
    border-right: 1px solid #5755d9;
}

.table tbody tr.active, .table.table-striped tbody tr.active {
    background:#bedae6;
}


.user-data {
    width: 80%;
    margin: 90px auto 30px auto;
    background: #fff;
    padding: 30px 20px;
}

.navbar {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    padding: 10px 8px;
}

.navbar h5 {
    margin-top: 7px;
}
.con {
    float: right;
    margin: 10px 0px 25px 0;
}

 tr {
    border: 1px solid #5755d9;
}



.insert-data{

}

.insert-data {
    margin: 50px 0;
}

.table{
    border-collapse: unset;
  	 border: none;
    padding: 4px 10px;
    border: none;
    border-collapse: none !important;
}

 td,th {
    padding: 7px 0;
     border-bottom:none;
}

.table td, .table th {
    border: 1px solid #5755d9;
    padding: 7px 19px;
}