<!DOCTYPE html>
<html>
<head>
	<title>INSERT</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/spectre.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<div class="column col-12">
	<div class="column col-12">
		<header class="navbar">
		  <section class="navbar-section">
		    <a href="/view.html" class="btn btn-link">Home</a>
		  </section>
		  <section class="navbar-center">
		    <h5>FLASK CRUD</h5>
		  </section>
		  <section class="navbar-section">
		    <a href="#" class="btn btn-link">Github</a>
		    <a href="#" class="btn btn-link">Login</a>
		  </section>
		</header>
	</div>
</div>
<div class="container">
    <div class="col-6 col-mx-auto">
    	<div class="insert-data">
    		<h2>Insert User Data</h2>
    		<table class="table ins-table">
			  <tr>
			    <td>First Name</td>
			    <td><input class="form-input" type="text"  placeholder="Name"></td>
			  </tr>
			  <tr>
			    <td>Email</td>
			    <td><input class="form-input" type="email"  placeholder="info@example.com"></td>
			  </tr>
			  	<tr>
			    <td>Address </td>
			    <td><input class="form-input" type="text"  placeholder="Name"></td>
			  </tr>	
			  <tr>
			    <td>Phone</td>
			    <td><input class="form-input" type="text"  placeholder="(+91) xxx xxx xxx"></td>
			  </tr>
			  	<tr>
			    <td></td>
			    <td><button class="btn">Insert</button></td>
			  </tr>				  
			</table>
		</div>
    	</div>
    </div>
  </div>
</div>

</body>
</html>