<!DOCTYPE html>
<html>

<head>
    <title>INSERT</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="app-main">

        <form action="/insert" method="POST">
            <input type="text" name="username" placeholder="User name">
            <input type="email" name="email" placeholder="Email Address">
            <input type="address" name="address" placeholder="Address">
            <input type="number" name="phone" placeholder="Phone number">
            <button class="" type="submit">Submit</button>
        </form>


    </div>
</body>

</html>