<!DOCTYPE html>
<html>

<head>
    <title>LOG IN</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <div class="wapper">
        <h4 style="
    color: #25C296;
    font-family: sans-serif;">Log In</h4>
        <form action="/login">
            First name:<br>
            <input type="text" name="firstname" placeholder="Enter First Name ">
            <br> Last name:<br>
            <input type="text" name="lastname" placeholder="Enter Last Name">
            <br><br>
            <input type="submit" value="Submit">
        </form>

    </div>

</body>

</html>