<!DOCTYPE html>
<html>
<head>
	<title>LOG IN</title>	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/spectre.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="column col-12">
	<div class="column col-12">
		<header class="navbar">
		  <section class="navbar-section">
		    <a href="/view" class="btn btn-link">Home</a>
		  </section>
		  <section class="navbar-center">
		    <h5>FLASK CRUD</h5>
		  </section>
		  <section class="navbar-section">
		    <a href="https://github.com/mazharul-miraz/crud-with-python" class="btn btn-link">Github</a>
		    <a href="#" class="btn btn-link">Login</a>
		  </section>
		</header>
	</div>
</div>
<div class="container">
    <div class="column col-12">
    	<div class="user-data">		
    </div>
  </div>
</div>

</body>
</html>