<!DOCTYPE html>
<html>

<head>
    <title>F L A S K || CRUD</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="wapper">
        <header class="navbar">
            <section class="navbar-section">
                <a href="/view" class="btn btn-link">Home</a>
            </section>
            <section class="navbar-center">
                <h5>FLASK CRUD</h5>
            </section>
            <section class="navbar-section">
                <a href="#" class="btn btn-link">Login</a>
            </section>
        </header>
        <div class="user-data">
            <div class="conbar">
                <div class="searchbar">
                    <div class="input-group input-inline">
                        <input class="form-input" type="text" placeholder="search" style="width: 300px;">
                        <button class="btn btn-primary input-group-btn">Search</button>
                    </div>
                </div>
                <div class="con">
                    <a class="btn" href="/insert">Add New Record</a>
                    <a class="btn" href="/update">Edit</a>
                </div>
            </div>
            <table class="table view-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>kate middleton</td>
                        <td>info@middleton.com</td>
                        <td>Catherine, Duchess of Cambridge</td>
                        <td>(+47) 478544 64)</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>maniac garage</td>
                        <td>contact@garage.com</td>
                        <td>Catherine, Duchess of Cambridge</td>
                        <td>(+88) 45874 64)</td>
                        <td>Edit</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    </div>

</body>

</html>